
*{
	box-sizing: border-box;
}

body{
	font-size: 20px;
	font-family: gimlet-text, serif;
	font-weight: 500;
	font-style: normal;
}

.column {
	float: left;
	padding: 10px;
}
  
.left {
	width: 60%;
}
  
.right {
	width: 40%;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

@media screen and (max-width: 600px) {
	.column {
	  width: 100%;
	}
}

.box {
	border: none;
	padding: 5px;
	font: 24px/36px sans-serif;
	width: 200px;
	height: 200px;
	overflow: scroll;
	}

	::-webkit-scrollbar {
		width: 12px;
		height: 12px;
		}
		
		::-webkit-scrollbar-track {
		border: 1px solid rgb(50, 73, 205);
		border-radius: 10px;
		}
		
		::-webkit-scrollbar-thumb {
		background: rgb(50, 73, 205);  
		border-radius: 10px;
		}
		
		::-webkit-scrollbar-thumb:hover {
		background: rgb(35, 53, 156);  
		}